body {
    background-color:#fff;
}

#divHeaderTop {
    min-height:25px;
    padding:2px 10px;
}

.authLinks {
    float:right;
}

#divHeaderContent {
    min-height:80px;
}

#divHeaderBottom {
    min-height:50px;
}

#divBody {
    min-height:500px;
}

#divFooterBottom {
    min-height:25px;
    padding:2px 10px;
}

.boxBorder {
    border:2px solid #eb6904; /* no info for size nor color yet */
    box-shadow: 0 0 0 3px #fc8d37;
    border-radius:2px; /* prefix not needed anymore */
}

#divLogin {
    margin-top:20px;
}